@import 'modal.css';
body,
html {
    width: 100%;
}

body {
    background: #EFEFFB;
    position: relative;
    scrollbar-width: none;
}


/*  loader css start here*/

.loader-outer {
    float: left;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    height: 100%;
    display: none;
}

.loader-outer-progress {
    float: left;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999999;
    height: 100%;
    display: none;
}

.loader-icon {
    left: 50%;
    position: absolute;
    top: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.loader-outer img {
    width: 80px;
}

.loader_spin {
    overflow: hidden;
    display: table;
}

.loader-inner p {
    font-size: 18px;
    color: #b99750;
    font-weight: bold;
}


/*  loader css end here*/

.header {
    width: 1084px ! important;
    height: 70px;
    margin: 0 auto;
    filter: blur(14px), brightness(-0.4), opacity(50%);
    /*column-gap: 5px;*/
}

.logo img {
    height: 37px;
    width: 148px;
    margin-top: 16px;
}

.business img {
    height: 30px;
    width: 164px;
    margin-top: 20px;
}

.header .btn-primary {
    background-image: linear-gradient(to right, blue, #4d88ff);
    margin-top: 20px;
    height: 30px;
    width: 164px;
    font-size: 12px;
}


/*#myModalLogin*/

.e-pass-head {
    width: 100%;
    height: 160px;
    background: #FFFFFF;
    padding: 34px 0 0 0;
}

.e-pass-head>div.row {
    width: 1000px;
    margin: 0 auto;
}

.e-pass-head>div>div {
    padding: 0;
}

.e-pass-head h1 {
    text-align: left;
    font: 49px/65px Muli;
    font-weight: 700;
    letter-spacing: 0px;
    color: #000000;
}

.e-pass-head h6 {
    text-align: left;
    font: 20px/27px Muli;
    letter-spacing: 0px;
    color: #515151;
}

.e-pass-head img {
    width: 186px;
    height: 126px;
    float: left;
}

.e-pass {
    width: 1000px;
    /*height: 1500px;*/
    margin: 20px auto;
}

.e-pass form>h6 {
    text-align: left;
    font: 20px/27px Muli;
    letter-spacing: 0px;
    color: #A89DF3;
    margin-top: 50px;
}

.e-pass form>div.form-group {
    width: 50%;
    padding: 0 15px 0 0;
}

.e-pass form select {
    width: 50%;
    height: 34px;
    border-radius: 5px;
    text-align: left;
    font: 16px/20px Muli;
    letter-spacing: 0px;
    color: #A1B0B8;
}

.e-pass form div>label,
.e-pass form>label {
    text-align: left;
    font: 25px/33px Muli;
    font-weight: 600;
    letter-spacing: 0px;
    color: #707070;
}

.upload input::placeholder,
.upload1 input::placeholder {
    text-align: center;
    font: 16px/20px Muli;
    font-weight: 600;
    letter-spacing: 0px;
    color: white;
}


/*.e-pass form input::placeholder {
    text-align: left;
    font: 16px/20px Muli;
    letter-spacing: 0px;
    color: #A1B0B8;
}
*/

.upload {
    margin: 0;
}


/* .upload input {
    width: 60%;
    background-image: url('../new_img/e-pass/upload-file.png');
    background-repeat: no-repeat;
    background-size: 45px 29px;
    background-position: 97% 45%;
    background-color: #A89DF3;
    padding-right: 25px;
    margin-top: 38px;
    border-radius: 10px;
} */


/**/

.upload .input-group {
    margin-top: 38px;
}

.upload .btn-file {
    position: relative;
    overflow: hidden;
}

.upload .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

.upload .file-input-label {
    padding: 0px 10px;
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.upload button {
    margin-left: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 34px;
    padding: 0 10px;
}


/**/

.upload h2 {
    width: 40%;
    height: 34px;
    text-align: center;
    font: 20px/27px Muli;
    letter-spacing: 0px;
    color: #171C2C;
    border: 1px dashed #707070;
    border-radius: 10px;
}

.upload>div:nth-of-type(2) {
    display: flex;
}

.upload h2 span {
    color: red;
}

.upload p {
    text-align: left;
    font: 14px/19px Muli;
    letter-spacing: 0px;
    color: #393BE3;
    margin: 35px 0 0 10px;
}

.dob {
    display: flex;
}

.dob>input {
    width: 40%;
}

.dob img {
    width: 34px;
    height: 34px;
    margin: 0 10px;
}

.dob>div>input {
    width: 60%;
    background-image: url('');
    background-color: #A89DF3;
    padding-right: 25px;
    margin-top: 38px;
    border-radius: 10px;
}

.single-line {
    display: inline-flex;
    width: 100%;
    margin-top: 15px;
}

.e-pass form input.city {
    width: 30%;
    margin-right: 5%;
}

.e-pass form input.pin {
    width: 30%;
    margin-right: 5%;
}

.e-pass .single-line select {
    width: 30%;
}

.e-pass form label.bold {
    text-align: left;
    font: 25px/33px Muli;
    font-weight: 600;
    letter-spacing: 0px;
    color: #171C2C;
}

div.pass-validity {
    padding-bottom: 25px;
}

.pass-validity input {
    display: inline-flex;
    width: 80%;
}

.pass-validity img {
    display: inline-flex;
}

.check-terms {
    width: 100%;
    margin-top: 80px;
}

.check-terms input {
    height: 20px;
}

.check-terms h4 {
    text-align: left;
    font: 18px/24px Muli;
    letter-spacing: 0px;
    color: #858585;
    margin: 0;
    padding: 0;
}

button.btn-warning {
    background: #FFC400 0% 0% no-repeat padding-box;
    border-radius: 5px;
    margin-left: 20px;
}